 // sass-lint:disable-all
 $theme: (1:#c8954e, 2:#e6bf5e, 3:#b15d2c, 4:#fbf0e5, 5:#8c8f11, 6:#e3d23a, 7:#42b983);
 :root {
     @each $n,
     $c in $theme {
         --theme-#{$n}: #{$c};
     }
 }
 
 $size: (5:5px, 10:10px, 15:15px, 20:20px, 25:25px);
 @each $n,
 $s in $size {
     .radius-bottom-#{$n} {
         border-bottom-left-radius: $s;
         border-bottom-right-radius: $s;
     }
 }
 
 $color: ("blue":blue, "black":black, "indigo":indigo);
 $size: (5:5px, 10:10px, 15:15px, 20:20px, 25:25px);
 @each $c,
 $col in $color {
     @each $n,
     $s in $size {
         .bordered-left-#{$n}-#{$c} {
             border-left: $s solid $col;
         }
     }
 }
 
 $color: ("white": rgb(255, 255, 255), "lightblue": rgb(33, 150, 243), "success":rgb(78, 175, 80), "indigo":rgb(75, 0, 13), "warning":#fb8c00);
 @each $c,
 $col in $color {
     .glow-#{$c} {
         box-shadow: 0px 3px 5px -1px rgba($col, 0.2), 0px 5px 8px 0px rgba($col, 0.14), 0px 1px 14px 0px rgba($col, 0.12) !important;
     }
 }
 
 @each $c,
 $col in $theme {
     .glow-#{$c} {
         box-shadow: 0px 3px 5px -1px rgba($col, 0.2), 0px 5px 8px 0px rgba($col, 0.14), 0px 1px 14px 0px rgba($col, 0.12) !important;
     }
 }